@import "grid";

// $column-width: 60px;
$gutter-width: 0px;
// $columns: 12;
// Set $total-width to 100% for a fluid layout
$total-width: 100%;

*{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	    -ms-box-sizing: border-box;
			box-sizing: border-box;
}

html{
	min-height: 100%;
}

body{
	min-height: 100%;
}

a{
	color: inherit;
	text-decoration: none;
}

header{
	@include column(12);
	position: fixed;
	z-index: 999;
	nav{
		@include column(12);
		background: hsl(0, 0%, 60%);
		height: 30px;
		ul{
			display: block;
			font-size: 0;
			height: 100%;
			margin: 0;
			padding: 0;
			li{
				background: red;
				display: inline-block;
				height: 100%;
				margin: 0;
				overflow: hidden;
				padding: 0;
				vertical-align: top;
				width: 150px;
				&:hover{
					box-shadow: 0 0 10px hsla(0, 0%, 60%, .4);
					height: 120px;
				}
				a{
					color: white;
					display: block;
					font-size: 16px;
					height: 100%;
					margin: 0;
					padding: 10px;
					text-align: center;
					text-decoration: none;
					line-height: 120px;
					width: 100%;
				}
			}
		}
	}

	h1{
		background: hsl(0, 50%, 50%);
		display: block;
		height: 100px;
		margin: 0;
		padding: 0;
		width: 100px;
	}
}
div#main{
	@include column(12);
	margin: 30px 0 0 0;

	#slideshow{
		border-bottom: 5px dashed lightGreen;
		height: 600px;
		width: 100%;
	}

	section{
		@include row(12);

		article{
			@include column(4);

			padding: 40px;

			@media (max-width: 960px) {
				@include column(12);
			}
		}
	}
}
footer{
	@include column(12);
	padding: 40px;

	ul{
		display: block;
		margin: 0 auto;
		text-align: center;
		width: 100%;
		li{
			display: inline-block;
			padding: 0 20px;
			a{
				color: lightBlue;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
				&:hover{
					border-bottom: 1px dashed;
				}
			}
		}
	}
	p{
		color: lightGreen;
		font-size: 12px;
		text-align: center;
		a{
			border-bottom: 1px dashed;
		}
	}
}